{% extends 'base.html' %} {% block title %}
<title>Harry Potter||Book Library</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <h4
      style="
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0px !important;
      "
    >
      Best Books in Harry Potter Universe
    </h4>
  </div>
  <hr class="hr" style="margin-left: -15px" />
  <div class="row harry_books">
    {% for book in best_books %}
    <div class="harry_book">
      <a href="{% url 'book_details' book.slug %}">
        <div>
          <div
            class="uk-card uk-card-default uk-card-body book_details_img_container"
          >
            <img
              src="{{book.book_cover.url}}"
              class="book_details_img"
            />
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container" style="margin-top: 6rem;">
  <div class="row">
    <h4
      style="
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0px !important;
      "
    >
      Harry Potter Series
    </h4>
  </div>
  <hr class="hr" style="margin-left: -15px" />
  <div class="row harry_books">
    {% for book in harry_potter_books %}
    <div class="harry_book">
      <a href="{% url 'book_details' book.slug %}">
          <div
            class="uk-card uk-card-default uk-card-body book_details_img_container"
          >
            <img
              src="{{book.book_cover.url}}"
              class="book_details_img"
            />
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container" style="margin-top: 6rem;">
  <div class="row"> <h4
    style="
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 0px !important;
    "
  >Fantastic Beats Series</h4></div>
  <hr class="hr" style="margin-left: -15px" />
  <div class="row harry_books">
    {% for book in fantastic_beats_books %}
    <div class="harry_book">
      <a href="{% url 'book_details' book.slug %}">
        <div
        class="uk-card uk-card-default uk-card-body book_details_img_container"
      >
            <img src="{{book.book_cover.url}}" class="book_details_img"/>
          </div>
      </a>
    </div>
    {% endfor %}
  </div>
  </div>
</div>

{% endblock %}
